



















	
<!DOCTYPE html>
	<html lang="en">
	<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
				<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<meta name="format-detection" content="telephone=no" />
		<title>Apple - Support - Downloads</title>
			<!-- end css -->
		<!-- start ie7 hacks -->
			<!--[if lt IE 8]>
			<style type="text/css">
				@import "https://images.apple.com/support/home/css/ie.css";
				#content.box{z-index : -1 !important;}
			</style>
			<![endif]-->
		<!-- end ie7 hacks -->
		<link rel="stylesheet" href="https://www.apple.com/wss/fonts?families=SF+Pro,v1%7CSF+Pro+Icons,v1" type="text/css">
		<link rel="stylesheet" href="https://www.apple.com/wss/fonts?family=Myriad+Set+Pro&amp;weights=200,400&amp;v=1" type="text/css" media="all">
      <!-- start css -->
	<link rel="stylesheet" href="https://km.support.apple.com/static_resources/css/base_new.css" type="text/css" />
			<link rel="stylesheet" href="https://km.support.apple.com/static_resources/css/support.css" type="text/css"/>
			<link rel="stylesheet" href="https://www.apple.com//ac/globalfooter/3/en_US/styles/ac-globalfooter.built.css" type="text/css" media="all">
		 	<link rel="stylesheet" href="https://support.apple.com/static_resources/css/footer.css" type="text/css" />

		<script src="https://www.apple.com/global/scripts/lib/prototype.js" type="text/javascript" charset="utf-8"></script>
		<script src="https://www.apple.com/global/scripts/lib/scriptaculous.js" type="text/javascript" defer="defer" charset="utf-8"></script>

	    <script src="https://km.support.apple.com/static_resources/js/ACUtil.js" type="text/javascript" charset="utf-8"></script>

	 <!--
	    <script src="https://km.support.apple.com/static_resources/js/persist-min.js" type="text/javascript"></script>
		<script src="https://km.support.apple.com/static_resources/js/browserdetect.js" type="text/javascript"></script>
-->


		<!--[if IE 8]><html class="ie ie8"> <![endif]-->
		<!--[if IE 9]><html class="ie ie9"> <![endif]-->
			<script src="https://km.support.apple.com/static_resources/js/ACBrowser.js" type="text/javascript" charset="utf-8"></script>
	<script src="https://km.support.apple.com/static_resources/js/ACDownloadSearch.js" type="text/javascript" charset="utf-8"></script>
	<script src="https://km.support.apple.com/static_resources/js/KmLoader.js" type="text/javascript" charset="utf-8"></script>
<meta name="ac-gn-store-key" content="S2A49YFKJF2JAT22K" />
		<meta name="ac-gn-search-action" content="https://support.apple.com/kb/index" />
		<meta name="ac-gn-search-input" content="q" />
		<meta name="ac-gn-search-field[src]" content="globalnav_support" />
		<meta name="ac-gn-search-field[type]" content="organic" />
		<meta name="ac-gn-search-field[page]" content="search" />
		<meta name="ac-gn-search-field[locale]" content="en_US" />
		</head>
	<body class="ac-gn-current-support">
	<input type="hidden"  id="cdsHeaderObj" data-json='{"setPod": "false",
"resourceUrl": "https://support.apple.com",
"akamaiUrl": "https://km.support.apple.com",
"modelValue": "Support",
"aiSearchServiceURL": "support.apple.com",
"podLocaleValue": "en_US",
"omnitureLocale": "us_en",
"aiCrossDomainSearchServiceURL": "support-suggestions.apple.com",
"podValue": "us~en",
"searchCountry": "us",
"enableAppleInstant": "yes",
"pageName": "downloads",
"amlSuggestionsUrl": "https://www.apple.com/search-services/suggestions/",
"headerEnv": "PROD",
"title": "Apple - Support - Downloads",
"channelName": ""
}'>
	<input type="hidden"  id="httpDownloadURL" value="https://supportdownload.apple.com/download.info.apple.com/Apple_Support_Area/Apple_Software_Updates">
<!-- 	<script src="https://km.support.apple.com/static_resources/js/header.js" type="text/javascript" charset="utf-8"></script>
 -->

	<link rel="stylesheet" type="text/css" href="https://www.apple.com/ac/globalnav/5/en_US/styles/ac-globalnav.built.css">
<aside id="ac-gn-segmentbar" class="ac-gn-segmentbar" lang="en-US" dir="ltr" data-strings="{ 'exit': 'Exit', 'view': '{%STOREFRONT%} Store Home', 'segments': { 'smb': 'Business Store Home', 'eduInd': 'Education Store Home', 'other': 'Store Home' } }">
</aside>
<input type="checkbox" id="ac-gn-menustate" class="ac-gn-menustate" />
<nav id="ac-globalnav" class="no-js" role="navigation" aria-label="Global" data-hires="false" data-analytics-region="global nav" lang="en-US" dir="ltr" data-www-domain="www.apple.com" data-store-locale="us" data-store-root-path="/us" data-store-api="https://www.apple.com/[storefront]/shop/bag/status" data-search-locale="en_US" data-search-locale="en_US" data-search-suggestions-api="https://www.apple.com/search-services/suggestions/" data-search-defaultlinks-api="https://www.apple.com/search-services/suggestions/defaultlinks/">
	<div class="ac-gn-content">
		<ul class="ac-gn-header">
			<li class="ac-gn-item ac-gn-menuicon">
				<label class="ac-gn-menuicon-label" for="ac-gn-menustate" aria-hidden="true">
					<span class="ac-gn-menuicon-bread ac-gn-menuicon-bread-top">
						<span class="ac-gn-menuicon-bread-crust ac-gn-menuicon-bread-crust-top"></span>
					</span>
					<span class="ac-gn-menuicon-bread ac-gn-menuicon-bread-bottom">
						<span class="ac-gn-menuicon-bread-crust ac-gn-menuicon-bread-crust-bottom"></span>
					</span>
				</label>
				<a href="downloads.htm#ac-gn-menustate" role="button" class="ac-gn-menuanchor ac-gn-menuanchor-open" id="ac-gn-menuanchor-open">
					<span class="ac-gn-menuanchor-label">Global Nav Open Menu</span>
				</a>
				<a href="downloads.htm#" role="button" class="ac-gn-menuanchor ac-gn-menuanchor-close" id="ac-gn-menuanchor-close">
					<span class="ac-gn-menuanchor-label">Global Nav Close Menu</span>
				</a>
			</li>
			<li class="ac-gn-item ac-gn-apple">
				<a class="ac-gn-link ac-gn-link-apple" href="https://www.apple.com/" data-analytics-title="apple home" id="ac-gn-firstfocus-small">
					<span class="ac-gn-link-text">Apple</span>
				</a>
			</li>
			<li class="ac-gn-item ac-gn-bag ac-gn-bag-small" id="ac-gn-bag-small">
				<div class="ac-gn-bag-wrapper">
					<a class="ac-gn-link ac-gn-link-bag" href="https://www.apple.com/us/shop/goto/bag" data-analytics-title="bag" data-analytics-click="bag" aria-label="Shopping Bag" data-string-badge="Shopping Bag with item count :">
						<span class="ac-gn-link-text">Shopping Bag</span>
					</a>
					<span class="ac-gn-bag-badge">
						<span class="ac-gn-bag-badge-separator"></span>
					<span class="ac-gn-bag-badge-number"></span>
					<span class="ac-gn-bag-badge-unit">+</span>
					</span>
				</div>
				<span class="ac-gn-bagview-caret ac-gn-bagview-caret-large"></span>
			</li>
		</ul>
		<div class="ac-gn-search-placeholder-container" role="search">
			<div class="ac-gn-search ac-gn-search-small">
				<a id="ac-gn-link-search-small" class="ac-gn-link" href="https://support.apple.com/kb/index?page=search&locale=en_US" data-analytics-title="search" data-analytics-click="search" data-analytics-intrapage-link aria-label="Search Support">
					<div class="ac-gn-search-placeholder-bar">
						<div class="ac-gn-search-placeholder-input">
							<div class="ac-gn-search-placeholder-input-text" aria-hidden="true">
								<div class="ac-gn-link-search ac-gn-search-placeholder-input-icon"></div>
								<span class="ac-gn-search-placeholder">Search Support</span>
							</div>
						</div>
						<div class="ac-gn-searchview-close ac-gn-searchview-close-small ac-gn-search-placeholder-searchview-close">
							<span class="ac-gn-searchview-close-cancel" aria-hidden="true">Cancel</span>
						</div>
					</div>
				</a>
			</div>
		</div>
		<ul class="ac-gn-list">
			<li class="ac-gn-item ac-gn-apple">
				<a class="ac-gn-link ac-gn-link-apple" href="https://www.apple.com/" data-analytics-title="apple home" id="ac-gn-firstfocus">
						<span class="ac-gn-link-text">Apple</span>
					</a>
			</li>
			<li class="ac-gn-item ac-gn-item-menu ac-gn-mac">
				<a class="ac-gn-link ac-gn-link-mac" href="https://www.apple.com/mac/" data-analytics-title="mac">
						<span class="ac-gn-link-text">Mac</span>
					</a>
			</li>
			<li class="ac-gn-item ac-gn-item-menu ac-gn-ipad">
				<a class="ac-gn-link ac-gn-link-ipad" href="https://www.apple.com/ipad/" data-analytics-title="ipad">
						<span class="ac-gn-link-text">iPad</span>
					</a>
			</li>
			<li class="ac-gn-item ac-gn-item-menu ac-gn-iphone">
				<a class="ac-gn-link ac-gn-link-iphone" href="https://www.apple.com/iphone/" data-analytics-title="iphone">
						<span class="ac-gn-link-text">iPhone</span>
					</a>
			</li>
			<li class="ac-gn-item ac-gn-item-menu ac-gn-watch">
				<a class="ac-gn-link ac-gn-link-watch" href="https://www.apple.com/watch/" data-analytics-title="watch">
						<span class="ac-gn-link-text">Watch</span>
					</a>
			</li>
			<li class="ac-gn-item ac-gn-item-menu ac-gn-tv">
				<a class="ac-gn-link ac-gn-link-tv" href="https://www.apple.com/tv/" data-analytics-title="tv">
						<span class="ac-gn-link-text">TV</span>
					</a>
			</li>
			<li class="ac-gn-item ac-gn-item-menu ac-gn-music">
				<a class="ac-gn-link ac-gn-link-music" href="https://www.apple.com/music/" data-analytics-title="music">
						<span class="ac-gn-link-text">Music</span>
					</a>
			</li>
			<li class="ac-gn-item ac-gn-item-menu ac-gn-support">
				<a class="ac-gn-link ac-gn-link-support" href="https://support.apple.com" data-analytics-title="support">
						<span class="ac-gn-link-text">Support</span>
					</a>
			</li>
			<li class="ac-gn-item ac-gn-item-menu ac-gn-search" role="search">
				<a id="ac-gn-link-search" class="ac-gn-link ac-gn-link-search" href="https://support.apple.com/kb/index?page=search&locale=en_US" data-analytics-title="search" data-analytics-click="search" data-analytics-intrapage-link aria-label="Search Support"></a>
			</li>
			<li class="ac-gn-item ac-gn-bag" id="ac-gn-bag">
				<div class="ac-gn-bag-wrapper">
					<a class="ac-gn-link ac-gn-link-bag" href="https://www.apple.com/us/shop/goto/bag" data-analytics-title="bag" data-analytics-click="bag" aria-label="Shopping Bag" data-string-badge="Shopping Bag with item count : {%BAGITEMCOUNT%}">
							<span class="ac-gn-link-text">Shopping Bag</span>
						</a>
					<span class="ac-gn-bag-badge" aria-hidden="true">
								<span class="ac-gn-bag-badge-separator"></span>
					<span class="ac-gn-bag-badge-number"></span>
					<span class="ac-gn-bag-badge-unit">+</span>
					</span>
				</div>
				<span class="ac-gn-bagview-caret ac-gn-bagview-caret-large"></span>
			</li>
		</ul>
		<aside id="ac-gn-searchview" class="ac-gn-searchview" role="search" data-analytics-region="search">
			<div class="ac-gn-searchview-content">
				<div class="ac-gn-searchview-bar">
					<div class="ac-gn-searchview-bar-wrapper">
						<form id="ac-gn-searchform" class="ac-gn-searchform" action="https://www.apple.com/us/search" method="get">
							<div class="ac-gn-searchform-wrapper">
								<input id="ac-gn-searchform-input" class="ac-gn-searchform-input" type="text" aria-label="Search Support" placeholder="Search Support" autocorrect="off" autocapitalize="off" autocomplete="off" spellcheck="false" role="combobox" aria-autocomplete="list" aria-expanded="true" aria-owns="quicklinks suggestions" />
								<input id="ac-gn-searchform-src" type="hidden" name="src" value="globalnav" />
								<button id="ac-gn-searchform-submit" class="ac-gn-searchform-submit" type="submit" disabled aria-label="Submit Search"></button>
								<button id="ac-gn-searchform-reset" class="ac-gn-searchform-reset" type="reset" disabled aria-label="Clear Search">
										<span class="ac-gn-searchform-reset-background"></span>
									</button>
							</div>
						</form>
						<button id="ac-gn-searchview-close-small" class="ac-gn-searchview-close ac-gn-searchview-close-small" aria-label="Cancel Search">
								<span class="ac-gn-searchview-close-cancel" aria-hidden="true">
									Cancel
								</span>
							</button>
					</div>
				</div>
				<aside id="ac-gn-searchresults" class="ac-gn-searchresults" data-string-quicklinks="Quick Links" data-string-suggestions="Suggested Searches" data-string-noresults=""></aside>
			</div>
			<button id="ac-gn-searchview-close" class="ac-gn-searchview-close" aria-label="Cancel Search">
					<span class="ac-gn-searchview-close-wrapper">
						<span class="ac-gn-searchview-close-left"></span>
						<span class="ac-gn-searchview-close-right"></span>
					</span>
				</button>
		</aside>
		<aside class="ac-gn-bagview" data-analytics-region="bag">
			<div class="ac-gn-bagview-scrim">
				<span class="ac-gn-bagview-caret ac-gn-bagview-caret-small"></span>
			</div>
			<div class="ac-gn-bagview-content" id="ac-gn-bagview-content">
			</div>
		</aside>
	</div>
</nav>
<div class="ac-gn-blur"></div>
<div id="ac-gn-curtain" class="ac-gn-curtain"></div>
<div id="ac-gn-placeholder" class="ac-nav-placeholder"></div>


<script src="https://km.support.apple.com/static_resources/js/commonUtils.js" type="text/javascript" charset="utf-8"></script>
	<script src="https://www.apple.com/global/scripts/apple_core.js" type="text/javascript" charset="utf-8"></script>
		<script src="https://www.apple.com/global/scripts/lib/sizzle.js" type="text/javascript" charset="utf-8"></script>
	<script src="https://www.apple.com//global/ac_base/ac_base.js" type="text/javascript" charset="utf-8"></script>
<!--  these below mentioned javascript files are required for header footer functionality -->
<!-- 		<script src="https://km.support.apple.com/static_resources/js/ACShortcuts.js" type="text/javascript"></script>
-->
	<script src="https://support.apple.com/etc/designs/support/publish/JS/pattern/accsoffer.js" type="text/javascript" charset="utf-8"></script>
	<link rel="stylesheet" href="https://km.support.apple.com/static_resources/css/search.css" type="text/css" charset="utf-8" />
<link rel="stylesheet" href="https://km.support.apple.com/static_resources/css/search_psp.css" type="text/css" charset="utf-8" />



















<!-- Start SiteCatalyst code version: H.8. -->
<script language="JavaScript"><!--
/* RSID: */
var s_account="applesupportglobalprod,appleglobal"
//--></script>
<script language="JavaScript" type="text/javascript" src="https://www.apple.com/metrics/scripts/s_code_h.js"></script>

<script language="javascript">
   s.un = "applesupportglobalprod,appleglobal";
   var keyLang = 'en';
   var persist={domain:"apple.com",cookie:{create:function(e,t,n){var r="";if(n){var i=new Date;i.setTime(i.getTime()+24*n*60*60*1e3),r="; expires="+i.toGMTString()}document.cookie=e+"="+t+r+"; path=/; domain="+persist.domain},read:function(e){for(var t=e+"=",n=document.cookie.split(";"),r=0;r<n.length;r++){for(var i=n[r];" "==i.charAt(0);)i=i.substring(1,i.length);if(0===i.indexOf(t))return i.substring(t.length,i.length)}return null},"delete":function(e){document.cookie=e+"=; expires=Thu, 01 Jan 1970 00:00:01 GMT; path=/; domain="+persist.domain}}},__={reduce:function(e,t,n){var r=n;try{if("function"!=typeof e.reduce)for(var i=0,o=e.length;o>i;i++)r=t(r,e[i]);else r=e.reduce(t,n)}catch(a){}return r}};
	
   
   s.prop1 = 'download';
   

   function isMobile() {
	   var isMobile= false;
       var minimeDeviceUserAgents = 'iPhone+iPod+Android+MIDP+Opera Mobi+Opera Mini+IEMobile+MSIEMobile';
       		if(minimeDeviceUserAgents!=undefined && minimeDeviceUserAgents!="") {
       			var userAgent = navigator.userAgent.toLowerCase();
       			var agentTokens = new Array();
       			agentTokens = minimeDeviceUserAgents.split('+');
       			for(var i = 0; i < agentTokens.length; i++) {
         			if(userAgent.indexOf(agentTokens[i].toLowerCase())!=-1) {
             		isMobile = true;
             		break;
         		}
       		}
       }
       return isMobile;
   }
   
   //capture prop23 as 'ms' if request is from mobile and 'fs' if request is from mobile for desktop page otherwise do nothing.
   
                if(isMobile()) {
                	s.prop23 = 'fs';
                }
      
</script>
<script language="JavaScript"><!--
var reversedLocale = "us-en";
var pageNameLocale = "en_us";
var url=location.href;
var len=url.indexOf('?');
if (len==-1){len=url.length}
s.prop4=url.substr(0,len);

s.eVar14= 'en' + "-" + 'US';
s.eVar54= url;

var supportTitle = document.title.indexOf("Apple - Support - ")==-1 ? "Apple - Support - " + document.title.replace(/^\s+|\s+$/g,""): document.title.replace(/^\s+|\s+$/g,"");


s.pageName="acs::kb::dl::downloads (en_us)";
		

s.server="";
s.channel="www.lo.support";
s.pageType="";

/* E-commerce Variables */
s.campaign="";
s.state="";
s.zip="";


s.purchaseID="";


	s.eVar1="";










s.eVar2="";
s.eVar3="";
s.eVar4="";


	s.eVar5="";




var searcheVar5Value = persist.cookie.read("acs_evar5");
if (!!searcheVar5Value) {
	s.eVar5= decodeURIComponent(searcheVar5Value);	
}
persist.cookie.delete("acs_evar5");





var searcheProp7Value = persist.cookie.read("acs_prop7");
if (!!searcheProp7Value) {
	s.prop7= decodeURIComponent(searcheProp7Value);	
}
persist.cookie.delete("acs_prop7");



s.eVar2="";


if(!s.prop14 && s.c_r('s_ppv')) {
	try{
	 var tempvar14 = s.c_r('s_ppv');
	 try{
		 tempvar14 = decodeURIComponent(tempvar14.replace(/\+/g,  " "));	 
	 }catch(e){
		 tempvar14 = unescape(tempvar14);
	 }
	 
	 if(tempvar14.indexOf(",") != -1)
		 {
		 	tempvar14 = tempvar14.substring(0,tempvar14.indexOf(","));
		 }
	 s.prop14 = tempvar14;
	 }catch(e){ }
}
	s.c_w('s_ppv',"acs::kb::dl::downloads (en_us)"); 
	



/************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
var s_code=s.t();if(s_code)document.write(s_code)//--></script>
<!-- End SiteCatalyst code version: H.8. -->


<input type="hidden"  id="cDownloadObj" data-json='{"ACDownloadSearchPlaceholder": "Search Downloads",
"ACDownloadSearchLocalizedResultFor": "{1} Results for \"{2}\"",
"ACDownloadSearchLocalizedSearchresultFor": "{1} Result for \"{2}\"",
"ACDownloadSearchDeepLinkString": "",
"domainNameList": "support.apple.com",
"internalUser": "false",
"getServerName": "support.apple.com",
"akamaiStagingUrl": "http://kmsupport-uat.apple.com",
"akamaiUrl": "https://km.support.apple.com",
"ACDownloadSearchLocalizedDownload": "Download",
"ACDownloadSearchLocalizedLearnMore": "Learn More",
"ACDownloadSearchLocales": "en_US,en_AP,en_AU,en_CA,en_IE,en_LA,en_HK,en_NZ,en_GB,en_SG,ja_JP,fr_BE,fr_CA,fr_CH,fr_FR,es_ES,es_LA,es_MX,de_AT,de_CH,de_DE,ko_KR,zh_CN,zh_HK,zh_TW,en_MY,en_AE,en_SA,fr_LU,da_DK,fi_FI,it_IT,nl_BE,nl_NL,no_NO,pl_PL,pt_BR,pt_PT,ru_RU,sv_SE,tr_TR,id_ID,th_TH,en_LAMR,es_LAMR,en_ASIA,en_IN,en_ZA,en_EG,en_GU,en_KW,en_JO,en_QA,en_PH,en_VN,en_IS,en_AL,en_BH,en_AM,en_MK,en_BN,en_MT,en_MD,en_OM,cs_CZ,hu_HU,es_CO,es_CL,en_IL,en_KE,en_ME,en_MZ,en_BW,en_NG,en_GW,en_UG,ar_AE,ar_EG,ar_SA,zh_MO,hr_HR,sl_SI,el_GR,et_EE,ro_RO,sk_SK,fr_MA,fr_MG,fr_ML,fr_MU,fr_NE,fr_CF,fr_CI,fr_CM,fr_GN,fr_GQ,fr_SN,fr_TN,de_LI,lt_LT,lv_LV,bg_BG,ar_BH,ar_JO,ar_KW",
"strUILocale": "en_US",
"ACDownloadSearchRootProduct": "productcategory",
"ACDownloadSearchLocalizedResultFor": "{1} Results for \"{2}\"",
"ACDownloadSearchLocalizedMostRecetDownloadPage": "Most Recent Downloads",
"ACDownloadSearchLocalizedFeaturedDownloadPage": "Featured Downloads"
}'>

	<div id="container" class="psp">
		<h1>
			<a id="main_prod_title"><span id="main_title">Downloads</span></a>
		</h1>
		<div id="pb-header">
			<div id="pb-language">
				<a href="https://support.apple.com/country-selector/downloads">Downloads in other languages</a>
				</div>
		</div>
		<div class="clear"></div>
		<div id="main">
			<div id = "header" style="display:none;">
				<div id = 'pb-icon'></div>
				<div id = 'pb-title'>Featured Downloads</div>
				<div id = 'browse-button' onclick = "ACDownloadSearch.browseButtonWasClicked();" >Browse by Product</div>
			</div>
				
				<div id="search">
					<div id="content" class="content filter-box-active" style="padding:0px;">
						<div id="filter-box">
							<h2>
								Browse Downloads by Product</h2>
						<div id="closeCarousel"></div>
			
				<button id="left_arrow" class="arrow disabled" disabled = "disabled">
				  <span class='a11y'>Previous</span>
				</button>
                <div id="carousel">
								<div id="carousel_content" data-offset="0"></div>
              </div>
				<button id="right_arrow" class="arrow disabled">
				  <span class='a11y'>Next</span>
				</button>
                <form action="downloads.htm" method="get" onsubmit="ACDownloadSearch.searchWithTerm(); ACDownloadSearch.searchChanged = true; return false;"> 
								<label for="searchInput">								
									<input type="text" name="searchInput" id="searchInput" placeholder = 'Search Downloads' class="applesearch prettysearch" maxlength="100" >
									<span id="search-clear" class="clear-icon" style="display: none; "></span>
								</label> 
								<input type="submit" value="Search" id="search-button"> 
							</form>			
							</div>
					</div>
				</div>
				
			<div id="results">
				<div id="results_count" style="display:none">
					<span id="results_until"></span> 
				</div>	
				<div id="results_none" style="display:none;">No results found. Please try another search.</div>
				<div id="loading-indicator" class = "loadspinner"></div>
				<ul class="featured" id="results-Support-ul"></ul>
			</div> <!--/#results-->	
			<div class="clear"></div> 
			<div id="more-results-wrap" class="hidden">
					<div id="loading" class = "loadspinner"></div>
					<button id="more-results-button" style="display:none">Load more results</button>
			</div>
			<div id="addInfoDiv" class="additionalResources"></div>
					
		</div> <!--/#main-->

	</div> <!--/#container-->

<div class="footer-wrapper">
<footer id="ac-globalfooter" lang="en-US" class="js no-touch svg no-ie7 no-ie8 footer-global" data-analytics-region="global footer" role="contentinfo" aria-labelledby="ac-gf-label">
<div class="ac-gf-content">
<h2 class="ac-gf-label" id="ac-gf-label">Apple Footer</h2>
<nav class="ac-gf-breadcrumbs" aria-label="Breadcrumbs" role="navigation">
<a href="https://www.apple.com" class="home ac-gf-breadcrumbs-home">
	<span class="ac-gf-breadcrumbs-home-icon" aria-hidden="true"></span>
	<span class="ac-gf-breadcrumbs-home-label">Apple</span> 
	<span class="ac-gf-breadcrumbs-home-chevron"></span>
	<span class="ac-gf-breadcrumbs-home-mask"></span> 
</a>
<div class="ac-gf-breadcrumbs-path">
			 <ol class="ac-gf-breadcrumbs-list" vocab="http://schema.org/" typeof="BreadcrumbList">
				<li class='first-child ac-gf-breadcrumbs-item'property="itemListElement" typeof="ListItem"><span property="name">Support</span><meta property="position" content="1" /></li>
				</ol>
		</div>
	
</nav>	
	<div class="ac-gf-footer" vocab="https://schema.org/" typeof="Organization">
            <div class="ac-gf-footer-shop" x-ms-format-detection="none"></div>
            <div class="ac-gf-footer-legal">
                <div class="ac-gf-footer-legal-copyright">Copyright © <script type="text/javascript">var currentTime = new Date() 
                    var year = currentTime.getFullYear() 
                    document.write(year)</script> Apple Inc. All rights reserved.</div>
                <div class="ac-gf-footer-legal-links"> <a class="ac-gf-footer-legal-link analytics-exitlink" href="https://www.apple.com/legal/privacy/en-ww/">Privacy Policy</a> <a class="ac-gf-footer-legal-link analytics-exitlink" href="https://www.apple.com/legal/internet-services/terms/site.html">Terms of Use</a> <a class="ac-gf-footer-legal-link analytics-exitlink" href="https://www.apple.com/shop/goto/help/sales_refunds">Sales and Refunds</a> <a class="ac-gf-footer-legal-link" href="https://www.apple.com/sitemap/">Site Map</a></div>
            </div>
            <meta content="Apple" property="name">
            <meta content="1-800-692-7753" property="telephone">
        </div></div>
</footer>
</div>

<script src='https://www.apple.com/ac/globalnav/5/en_US/scripts/ac-globalnav.built.js' type="text/javascript" charset="utf-8"></script>
	<script src='https://www.apple.com/ac/globalfooter/3/en_US/scripts/ac-globalfooter.built.js' type="text/javascript" charset="utf-8"></script>
</html>

